
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2> Đăng nhập </h2>
<form class="form-horizontal">
    <div class="form-group">
        <label for="text1" class="control-label col-lg-4">Email</label>
        <div class="col-lg-8">
            <input type="email" id="email" placeholder="Nhập Email...." class="form-control">
        </div>
    </div>
    <!-- /.form-group -->
    <div class="form-group">
        <label for="pass1" class="control-label col-lg-4">Mật khẩu</label>
        <div class="col-lg-8">
            <input class="form-control" type="password" id="pass"
                   data-original-title="Nhập mật khẩu...." data-placement="top" />
        </div>
    </div>
    <!-- /.form-group -->
   
    <!-- /.row -->
    
    <center> <a href="#" class="btn btn-metis-5">Đăng nhập</a> </center>
</form>





